.other-projects{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 34px;
}
.project-list-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    text-align: left;
    list-style: none;
}