.landing-page{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 90%;
}

.about-me{
    width: 55%;
}

/* .about-me p{
    text-align: left;
} */