.projects{
    width: 350px;
    min-height: 400px;
    height: auto;
    border: 1px solid slateblue;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 2px 2px 10px 5px slateblue;
    text-align: center;
}

.projects:hover{
    transform: scale(1.02);
}

.projects img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.projects .languageElements{
    padding:0px 15px;
    max-width: 100px;
    width: auto;
    height: 40px;
    margin: 10px 10px
}
