.projects{
    width: 350px;
    min-height: 480px;
    height: auto;
    border: 2px solid var(--high-contrast-color);
    border-radius: 10px;
    /* box-shadow: 2px 2px 10px 5px slateblue; */
    text-align: center;
    padding: 10px;
}

.projects:hover{
    transform: scale(1.02);
    transition: all;
}

.projects img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.projects .languageElements{
    max-width: 100px;
    width: auto;
    height: 30px;
    margin: 10px 10px;
    border-radius: 8px;
    font-size: 12px;
    background-color: rgb(160, 80, 240,0.6);
    border: 0px;
}
.projects .languageElements:hover{
    border-color: var(--text-color);
}
