.languages{
    display: flex;
    width: calc(100% - 10px);
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.boards{
    padding: 20px;
    width: 350px;
    text-align: center;
    margin: 50px 0px;
    border: 3px solid var(--high-contrast-color);
    /* box-shadow: 2px 2px 10px 5px slateblue; */
    border-radius: 10px;
}


.boards > .text{
    font-size: 2em;
    font-weight: 900;
}


.boards:hover{
    transform: scale(1.02);
}