.container{
    width: 100%;
    margin: auto;
    min-height: 80vh;
    margin-bottom: 15%;
    text-align: center;
    display: flex;
    flex-direction: column;
}


.container > div{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85%;
    margin: auto;
    width: 100%;
}