.language-tags{
    max-width: 100px;
    width: 60px;
    height: 30px;
    padding: 0px 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10px 10px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 500;
    color: var(--dim-text-color);
    /* background-color: rgb(160, 80, 240, 0.6); */

    background:#3A3A3A;
}

.lang-icons{
    display: block;
    width: 25px;
    height: 25px;
}
