.container > .heading::after{
    content: '';
    width: 30vw;
    height: 6px;
    /* background-color: var(--high-contrast-color); */
    background: linear-gradient(to right, var(--high-contrast-color) , var(--bg-color) );
    opacity: 0.8;
    top: 50%;
    right: -33vw;
    position: absolute;
}
.container > .heading{
    position: relative;
    width: fit-content;
    margin-left: 95px;
    margin-bottom: 80px;
}