.navigationElements{
    width: 50px;
    height: 30px;
    padding:0px 15px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px 0px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigationElements:hover{
    border-color: blueviolet;
    /* color: rgb(148, 94, 199); */
}

.navigationElements.current{
    border-color: blueviolet;
}