@keyframes float {
    0%, 100% {
        visibility: ;
        display: block;
        transform: translateY(100vh) rotate(0deg);
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    90% {
        opacity: 0.1;
    }
    50% {
        transform: translateY(-100vh) rotate(360deg);
    }
}


.background-elements-container {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}

.background-element {
    position: absolute;
    top: -100px;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg, #a78bfa, #c084fc);
    animation: float 15s infinite;
    border-radius: 50%;
    opacity: 0.1;
}


.background-element:nth-child(1) { 
    left: 10%; 
    animation-delay: 0s; 
    animation-duration: 20s;
 }
.background-element:nth-child(2) {
     left: 20%;
     animation-delay: 2s; 
     animation-duration: 18s; 
}
.background-element:nth-child(3) {
     left: 30%; 
     animation-delay: 4s; 
     animation-duration: 22s; 
}
.background-element:nth-child(4) {
     left: 40%; 
     animation-delay: 6s; 
     animation-duration: 16s; 
}
.background-element:nth-child(5) {
     left: 50%; 
     animation-delay: 8s; 
     animation-duration: 24s; 
}
.background-element:nth-child(6) {
     left: 60%; 
     animation-delay: 10s; 
     animation-duration: 19s; 
}
.background-element:nth-child(7) {
     left: 70%; 
     animation-delay: 12s; 
     animation-duration: 21s; 
}
.background-element:nth-child(8) {
     left: 80%; 
     animation-delay: 14s; 
     animation-duration: 17s; 
}