/*source/style/modules/cliqweb/cliqcommon.css*/
:root .zmNightMode .mc4e8d4e04_zcliq-chatbar{
    --ZC-color-hover2:#373737;
    --ZC-color-hover3:#2F2F2F;
    --ZC-color-lp3:#3D4650;
    --ZC-color-icon: #979797;
    --ZC-color-icon-lhs: #979797;
    --ZC-color-secondary:#afb3b7;
    --ZC-bg-color-3: #2b2b2b;
    --ZC-color-main: #e1e3e4;
    --ZC-default-bg-color: #202020;
    --ZC-body-bg:#202020;
    --ZC-color-divider: #393939;
    --ZC-color-hover1 : #2a2a2a;
    --ZC-color-lp1:#848484;
    --ZC-color-hdr:#fff;
    --ZC-list-item-hover-bg:#263849;
    --ZC-bg-color-2:#1D1D1D;
    --ZC-input-bg-color: #1D1D1D;
    --ZC-btn-secondary-border:#545454;
}
:root .mc4e8d4e04_zcliq-chatbar{
    --ZC-color-hover3:#F7F8F9;
    --ZC-color-lp3: #c4c4c4;
    --ZC-color-icon-lhs: #979797;
    --ZC-color-secondary: #666;
    --ZC-bg-color-3:#fff;
    --ZC-color-main:#222;
    --ZC-default-bg-color:#FFF;
    --ZC-color-hover2 :#F1F4F7;
    --ZC-body-bg :#f2f2f2;
    --ZC-color-divider: #e6e6e6;
    --ZC-color-hover1 :#F1F4F7;
    --ZC-color-theme : #339DFF;
    --ZC-box-shadow-color: rgba(0, 0, 0, 0.1);
    --ZC-color-lp1:#888;
    --ZC-color-icon:#627282;
    --ZC-color-hdr:#000;
    --ZC-btn-secondary-border:#D4DADD;
    --ZC-list-item-hover-bg:#F1F4F7;
    --ZC-bg-color-2:#f7f7f7;
    --ZC-clr-white:#fff;
    --ZC-input-bg-color:#fff;
    --ZC-color-link:#1991EB;
    --ZC-btn-primary-color:#fff;
    --ZC-btn-neg-secondary-border:#EF5364;
    --ZC-icon-hover-color:#222;
    --ZC-color-red:#EF5364;
    --ZC-color-theme-rgb:61, 194, 172;
}
:root .mc4e8d4e04_zcliq-web
{
   --ZC-color-secondary :var(--color-secondary);
   --ZC-bg-color-3: var(--bg-color-3);
   --ZC-color-main:var(--color-main);
   --ZC-default-bg-color :var(--default-bg-color);
   --ZC-color-hover2 :var(--color-hover2);
   --ZC-color-icon-lhs :var(--color-icon-lhs);
   --ZC-body-bg :var(--body-bg);
   --ZC-color-divider :var(--color-divider);
   --ZC-color-hover1 :var(--color-hover1);
   --ZC-color-theme :var(--color-theme);
   --ZC-color-hover3 :var(--color-hover3);
   --ZC-color-lp3 :var(--color-lp3);
   --ZC-box-shadow-color:var(--box-shadow-color);
   --ZC-color-lp1: var(--color-lp1);
   --ZC-color-icon:var(--color-icon);
   --ZC-color-hdr:var(--color-hdr); 
   --ZC-btn-secondary-border: var(--btn-secondary-border);
   --ZC-list-item-hover-bg: var(--list-item-hover-bg);
   --ZC-bg-color-2: var(--bg-color-2);
   --ZC-clr-white: var(--clr-white);
   --ZC-input-bg-color: var(--input-bg-color);
   --ZC-color-link: var(--color-link);
   --ZC-btn-primary-color:var(--btn-primary-color);
   --ZC-btn-neg-secondary-border: var(--btn-neg-secondary-border);
   --ZC-icon-hover-color: var(--icon-hover-color);
   --ZC-color-red: var(--color-red);
   --ZC-color-theme-rgb:var(--color-theme-rgb);
   --ZC-box-shadow-color3: var(--box-shadow-color3);
   --ZC-box-shadow-color2: var(--box-shadow-color2);
}
.mc4e8d4e04_borderBox { box-sizing: border-box; }
.mc4e8d4e04_h100 { height: 100%; }
.mc4e8d4e04_h70 {height:70px}
.mc4e8d4e04_h40 {height:40px}
.mc4e8d4e04_h55 {height:55px}
.mc4e8d4e04_h60 {height:60px}
.mc4e8d4e04_h20 {height: 20px;}

.mc4e8d4e04_wh100 { width: 100%; height: 100%; }

.mc4e8d4e04_w100 { width: 100%; }
.mc4e8d4e04_w50 { width: 50%; }
.mc4e8d4e04_w75{ width: 75%;}
.mc4e8d4e04_w80{width: 80%;}
.mc4e8d4e04_w55{width:55%}
.mc4e8d4e04_w60{width:60%;}
.mc4e8d4e04_w250{width:250px}
.mc4e8d4e04_w120{width:120px}


.mc4e8d4e04_bdrR100 { border-radius: 100%; }

.mc4e8d4e04_font18 { font-size: 18px; }
.mc4e8d4e04_font16{font-size: 16px;}
.mc4e8d4e04_font15 { font-size: 15px; }
.mc4e8d4e04_font14 { font-size: 14px; }
.mc4e8d4e04_font13 { font-size: 13px; }
.mc4e8d4e04_font12 { font-size: 12px; }
.mc4e8d4e04_font10 { font-size: 10px; }
.mc4e8d4e04_fontB { font-weight: bold; }
.mc4e8d4e04_fontN { font-weight: normal; }

.mc4e8d4e04_lh20 {line-height: 20px;}

.mc4e8d4e04_p5 { padding: 5px; }

.mc4e8d4e04_pT30 { padding-top: 30px; }
.mc4e8d4e04_pT25 { padding-top: 25px; }
.mc4e8d4e04_pT10 {padding-top: 10px;}
.mc4e8d4e04_pT0 { padding-top: 0px !important; }
.mc4e8d4e04_pT2 {padding-top: 2px;}

.mc4e8d4e04_pB10 { padding-bottom: 10px; }

.mc4e8d4e04_pR5 { padding-right: 5px; }
.mc4e8d4e04_pR12{padding-right:12px;}

.mc4e8d4e04_pL15 { padding-left: 15px; }
.mc4e8d4e04_pL10 { padding-left: 10px; }
.mc4e8d4e04_pL12 {padding-left: 12px;}
.mc4e8d4e04_pL0 {padding-left: 0px !important;}
.mc4e8d4e04_pL2 {padding-left: 2px;}
.mc4e8d4e04_pL24{padding-left:24px;}
.mc4e8d4e04_pL20{padding-left:20px;}
.mc4e8d4e04_pL8 {padding-left: 8px !important;}

.mc4e8d4e04_pLR36 { padding-inline: 36px; }
.mc4e8d4e04_pTB26 { padding: 26px 0;}
.mc4e8d4e04_textR { text-align: right; }

.mc4e8d4e04_dN{display: none;}

.mc4e8d4e04_flex { display: flex; }
.mc4e8d4e04_flexC { display: flex; align-items: center; }
.mc4e8d4e04_flexM { display: flex; align-items: center; justify-content: center; }
.mc4e8d4e04_flexW { flex-wrap: wrap; }
.mc4e8d4e04_flexG { flex-grow: 1; }

.mc4e8d4e04_fdirC { flex-direction: column; }

.mc4e8d4e04_floatl {float:left}

.mc4e8d4e04_mR40 { margin-right: 40px; }
.mc4e8d4e04_mR20 { margin-right: 20px; }
.mc4e8d4e04_mR10 { margin-right: 10px; }
.mc4e8d4e04_mR30 {margin-right: 30px;}
.mc4e8d4e04_mR50 {margin-right: 50px;}
.mc4e8d4e04_mR5  {margin-right: 5px;}
.mc4e8d4e04_mR15 {margin-right: 15px;}

.mc4e8d4e04_mL20 { margin-left: 20px; }
.mc4e8d4e04_mL30 {margin-left:30px;}
.mc4e8d4e04_mL5 { margin-left: 5px; }
.mc4e8d4e04_mL2 { margin-left: 2px; }
.mc4e8d4e04_mL10 { margin-left: 10px; }
.mc4e8d4e04_mL25 {margin-left: 25px;}
.mc4e8d4e04_mL15 {margin-left: 15px;}
.mc4e8d4e04_mL6 {margin-left: 6px;}
.mc4e8d4e04_mL50 {margin-left: 50px;}

.mc4e8d4e04_mT6 { margin-top: 6px; }
.mc4e8d4e04_mT5 {margin-top: 5px;}
.mc4e8d4e04_mT4 {margin-top: 4px;}
.mc4e8d4e04_mT2 { margin-top: 2px; }
.mc4e8d4e04_mT8 { margin-top: 8px; }
.mc4e8d4e04_mT10 { margin-top: 10px; }
.mc4e8d4e04_mT12{margin-top: 12px;}
.mc4e8d4e04_mT15 {margin-top: 15px;}
.mc4e8d4e04_mT20 { margin-top: 20px; }
.mc4e8d4e04_mT24 { margin-top: 24px; }

.mc4e8d4e04_mB10 {margin-bottom:10px;}
.mc4e8d4e04_mB30 {margin-bottom: 30px;}

.mc4e8d4e04_r30 {right:30px;}
.mc4e8d4e04_r25 {right:25px;}
.mc4e8d4e04_r50 {right:50px;}
.mc4e8d4e04_r5 {right:5px;}
.mc4e8d4e04_r10 {right:10px;}
.mc4e8d4e04_r15 {right:15px;}
.mc4e8d4e04_r8 {right:8px;}
.mc4e8d4e04_r175{right:175px !important;}
.mc4e8d4e04_r100{right:100px !important;}
.mc4e8d4e04_l80{left:80px;}
.mc4e8d4e04_l30{left:30px;}
.mc4e8d4e04_l35{left:35px;}
.mc4e8d4e04_l25{left:25px;}
.mc4e8d4e04_l280{left:280px !important;}

.mc4e8d4e04_posl { position:relative;}
.mc4e8d4e04_posa { position:absolute;}
.mc4e8d4e04_posfix { position: fixed; }

.mc4e8d4e04_clr-icon { color: var(--ZC-color-icon); }

.zcf-downArrow:before {
    content: '\e932';
    display: inline-block;
    transform: rotate(90deg);
}
.mc4e8d4e04_inline-block { display: inline-block; }

.mc4e8d4e04_text-transC { text-transform: capitalize; }
.mc4e8d4e04_textR {
    text-align: right;
}

.mc4e8d4e04_fshrink { flex-shrink: 0; }

.mc4e8d4e04_clr6 { color: var(--ZC-color-secondary); }

.mc4e8d4e04_clr-lp1 { color: var(--ZC-color-lp1); }

.mc4e8d4e04_hide { display: none !important; }

.mc4e8d4e04_dB { display: block; }
.mc4e8d4e04_dF { display: flex; }

.mc4e8d4e04_curP { cursor: pointer; }
.mc4e8d4e04_curN { pointer-events: none; }
.mc4e8d4e04_curNot { cursor: not-allowed; }
.mc4e8d4e04_clr-M { color: var(--ZC-color-main); }
.mc4e8d4e04_clrB { color: #2695f6; }
.mc4e8d4e04_clr0 { color: #000; }
.mc4e8d4e04_clr-S { color: var(--ZC-color-secondary); }

.mc4e8d4e04_line20 { line-height: 20px; }

.mc4e8d4e04_ellips { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.mc4e8d4e04_zindex1 { z-index: 1; }
.mc4e8d4e04_z1000{z-index: 1000;}
.mc4e8d4e04_drag { cursor:move;}

.mc4e8d4e04_nite-mode .mc4e8d4e04_thmehvrinfo, .mc4e8d4e04_nite-mode .mc4e8d4e04_bluelink .mc4e8d4e04_zctxal, .mc4e8d4e04_nite-mode .mc4e8d4e04_bluelink, .mc4e8d4e04_nite-mode .mc4e8d4e04_zcchnhdr .mc4e8d4e04_nite-mode .mc4e8d4e04_chlpermlink,.zmNightMode .mc4e8d4e04_bluelink {color: #378fcc;}
.mc4e8d4e04_userdetail a:hover.mc4e8d4e04_bluelink { text-decoration: none; }
a.mc4e8d4e04_bluelink, #mc4e8d4e04_GS-results .mc4e8d4e04_zcsrch-addinfo a{ color:#26a2e3; cursor: pointer;}
a:hover.mc4e8d4e04_bluelink, .mc4e8d4e04_redlink:hover, .mc4e8d4e04_emptymsglnk:hover, .mc4e8d4e04_zcreinvt:hover, #mc4e8d4e04_GS-results .mc4e8d4e04_zcsrch-addinfo a:hover{ text-decoration:underline;}

.mcontent input.error .mcontent textarea.error .mcontent input:focus.error .mcontent textarea:focus.error .mcontent .tatext.error .zcadd-invitemn.error .zcaddevnt.error .adevnt input.error.zcadcmcnt .error .str-edtfld .error{ border-color: var(--color-failed); border-bottom: 1px solid var(--color-failed) !important; }

.mc4e8d4e04_zcl-hyperlink{ color: var(--ZC-color-link) !important; cursor: pointer; border-bottom: 1px dashed #0000; }
.mc4e8d4e04_zcl-hyperlink:hover{ border-bottom-color: var(--ZC-color-link); }
.mc4e8d4e04_zcl-hyperlink-neg { color: var(--ZC-color-red) !important; cursor: pointer; border-bottom: 1px dashed #0000; }
.mc4e8d4e04_zcl-hyperlink-neg:hover { border-bottom-color: var(--ZC-color-red); }

.mc4e8d4e04_clr-link { color: var(--ZC-color-link); }

.mc4e8d4e04_zcl-input, .mc4e8d4e04_zcl-input-sm, .mc4e8d4e04_zcl-input-xs{ height: 36px; width: 100%; font-size: 15px; color: var(--ZC-color-main); padding: 0px 12px; background: var(--ZC-default-bg-color); border: 1px solid var(--ZC-color-divider); border-radius: 4px; display: flex; align-items: center; justify-content: center; outline: none;}
[class^="zcl-input"][disabled], [class*="zcl-textarea"][disabled] { opacity: 0.5; }
[class*="zcl-input"][readonly=true], [class*="zcl-input"][readonly]:focus, [class*="zcl-textarea"][readonly], [class*="zcl-textarea"][readonly]:focus{ background-color: var(--ZC-bg-color-2); border-color: #0000; pointer-events: none; color: var(--ZC-color-secondary); }
.mc4e8d4e04_zcl-input.mc4e8d4e04_zcl-input-info { border-color: #0000; pointer-events: none; opacity:1; }
.mc4e8d4e04_zcl-input:not(.mc4e8d4e04_inpt-error):focus,.mc4e8d4e04_zcl-input:not(.mc4e8d4e04_inpt-error):focus-within, .mc4e8d4e04_zcl-input.mc4e8d4e04_sel:not(.mc4e8d4e04_inpt-error){ border: 1px solid var(--ZC-color-theme); box-shadow: 0px 1px 4px var(--input-focus-boxshadow);}
.mc4e8d4e04_zcl-input.mc4e8d4e04_inpt-error:focus, [class*="zcl-textarea"].mc4e8d4e04_inpt-error:focus, .mc4e8d4e04_zcl-multiselect-input-container.mc4e8d4e04_inpt-error:focus-within { border: 1px solid var(--color-failed); box-shadow: 0px 1px 4px var(--input-focus-error-boxshadow);}
.mc4e8d4e04_zcl-input.mc4e8d4e04_inpt-error,.mc4e8d4e04_zcl-input.mc4e8d4e04_inpt-error:focus, [class^="zcl-input"].mc4e8d4e04_inpt-error,[class^="zcl-input"].mc4e8d4e04_inpt-error:focus,  [class*="zcl-textarea"].mc4e8d4e04_inpt-error,[class*="zcl-textarea"].mc4e8d4e04_inpt-error:focus, .mc4e8d4e04_zcl-multiselect-input-container.mc4e8d4e04_inpt-error,.mc4e8d4e04_zcl-multiselect-input-container.mc4e8d4e04_inpt-error:focus{ border: 1px solid var(--ZC-color-red); box-shadow: 0px 0px 5px var(--input-focus-error-boxshadow);}
.mc4e8d4e04_zcl-input.mc4e8d4e04_zcl-input-info { border-color: #0000; pointer-events: none; opacity:1;background-color: var(--ZC-bg-color-3); }
.mc4e8d4e04_zcl-input-infoicon { position: absolute; right: 10px; top: 50%; transform: translateY(-50%); color: var(--ZC-color-icon); }
.mc4e8d4e04_zcl-input-info-box { position: absolute; top: 2px; left: 2px; background-color: var(--ZC-color-hover1); height: calc(100% - 4px); width: calc(100% - 4px); border-radius: 4px; padding: 0 10px; }
.mc4e8d4e04_zcl-input--readonly { background-color: var(--ZC-color-hover2); pointer-events: none; } 
.mc4e8d4e04_cliq-input{
    vertical-align: middle;
    font-family: Lato, sans-serif;
    line-height: 16px;
    color: var(--ZC-color-main);
    box-sizing: border-box;
}
.mc4e8d4e04_cliq-input:-webkit-autofill,
.mc4e8d4e04_cliq-input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
  }

.mc4e8d4e04_personalInfoWrapper {
    padding-bottom: 10px;
    flex-grow: 1;
    overflow: hidden;
    transition: height 0.3s;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.mc4e8d4e04_overflowx{
    overflow-x: scroll;
}
.mc4e8d4e04_overflowx::-webkit-scrollbar{
    display: none;
    height:5px;
}

.zmNightMode .mc4e8d4e04_personalInfoWrapper
 {
    background-color: var(--wms-chat-bg-color);
    color: var(--ZC-color-main); ;
}

.mc4e8d4e04_personalInfoWrapper::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
.mc4e8d4e04_personalInfoWrapper::-webkit-scrollbar-thumb {
    background-color: #dcdcdc;
}
.mc4e8d4e04_zcl-icon{
    background: #0000;
    border: 1px solid #0000;
    color: var(--ZC-color-icon);
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;
    height: 30px;
    width: 30px;
    font-size: 14px;
}
.mc4e8d4e04_zcl-icon--default {
    border-color: var(--ZC-color-divider);
    background-color: var(--ZC-default-bg-color);
}
.mc4e8d4e04_status{
    
        display: inline-block;
        border-radius: 10px;
        vertical-align: middle;
        height: 4px;
        width: 4px;
        background-color: var(--ZC-color-icon-lhs);
        margin: 3px;
    
}
.mc4e8d4e04_zcl-switch input,.mc4e8d4e04_zcl-switch.mc4e8d4e04_no-icon .mc4e8d4e04_switch:before { display: none; }
.mc4e8d4e04_zcl-switch input:checked + .mc4e8d4e04_slider + .mc4e8d4e04_switch, .mc4e8d4e04_zcl-switch input:checked + .mc4e8d4e04_slider > .mc4e8d4e04_switch { transform: translateX(20px); }
.mc4e8d4e04_zcl-switch-sm input:checked + .mc4e8d4e04_slider + .mc4e8d4e04_switch, .mc4e8d4e04_zcl-switch-sm input:checked + .mc4e8d4e04_slider > .mc4e8d4e04_switch { transform: translateX(16px); }
.mc4e8d4e04_zcl-switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
    cursor: pointer;
    line-height: normal;
    flex-shrink: 0;
}
.mc4e8d4e04_zcl-switch-sm {
    width: 36px;
    height: 20px;
}
.mc4e8d4e04_zcl-switch .mc4e8d4e04_slider {
    border-radius: 25px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--ZC-color-lp3);
    transition: .4s;
}
.mc4e8d4e04_zcl-switch input:checked + .mc4e8d4e04_slider {
    background-color: var(--ZC-color-theme);
}
.mc4e8d4e04_zcl-switch .mc4e8d4e04_switch {
    height: 20px;
    width: 20px;
    font-style: normal;
    border-radius: 50%;
    position: absolute;
    left: 2px;
    top: 2px;
    background-color: #fff;
    transition: all .2slinear;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mc4e8d4e04_zcl-switch-sm .mc4e8d4e04_switch {
    height: 16px;
    width: 16px;
}
.mc4e8d4e04_filetypeSlider{
    position: absolute!important;
    right: 0px;
}
.mc4e8d4e04_messageContainsSlider{
    position: absolute!important;
    right: 11px;
}
.mc4e8d4e04_deleteIcon{font-size: 30px;color:var(--ZC-color-red)}
/*source/style/modules/cliqweb/profile.css*/
.mc2c179196_zcprofpiccover { height:144px; width: 144px; box-shadow: 0px 0px 10px var(--ZC-box-shadow-color3); color: #fff; position:relative;}
.mc2c179196_zcprofpic { height: 130px; width: 130px; }
.mc2c179196_objFitCover { object-fit: cover; }
.mc2c179196_zcpiccontainer {
    height: 130px; width: 130px; overflow: hidden; margin:7px; position: relative; z-index: 1;
}
.mc2c179196_zcpiccontainer .zcliq-camera { 
    position: absolute; 
    left: 52px;
    top: 16px;
    font-size: 22px;
}
.mc2c179196_profpicsel { content:''; height: 130px; width: 130px; border-radius: 100%; position: absolute; top: 79px; background-color: rgba(0, 0, 0, 0.436085); }
.mc2c179196_profpicsel:hover { background-color: hsla(0, 0%, 0%, 0.8); transition: all .3s; color: var(--ZC-color-theme);}
.mc2c179196_zcl-menu-wrap{ position:absolute; padding: 4px; box-shadow: 0px 2px 8px var(--ZC-box-shadow-color2); border-radius: 4px; background-color: var(--ZC-bg-color-3); right: 0px; top: calc(100% + 12px); min-width: 180px; width: max-content; max-width: 300px; z-index: 1;}
.mc2c179196_profmenubox.mc2c179196_zcl-menu-wrap { left: 98px; top: 98px}
.mc2c179196_zcl-menu-wrap:after{content: ""; position: absolute; width: 15px; height: 15px; background: var(--ZC-bg-color-3); transform: rotate(225deg); top: -6px; right: 12px; box-shadow: 7px 6px 10px -6px rgb(88, 88, 88); z-index: -1; border-radius: 2px; backface-visibility: hidden; }
.mc2c179196_zcl-menu-item{ height: 36px; display: flex; align-items: center; padding: 0px 8px; border-radius: 4px; color: var(--ZC-color-main); font-size: 14px; background-color: inherit; }
.mc2c179196_zcl-menu-item-icn{ color: var(--ZC-color-icon); font-size: 15px; margin-right: 10px;}
.mc2c179196_zcl-menu-item:hover,.mc2c179196_zcl-menu-item.mc2c179196_active, .mc2c179196_zcl-menu-item.mc2c179196_sel{ background-color: rgba(var(--ZC-color-theme-rgb),0.2); cursor: pointer; color: var(--ZC-color-theme); }
.mc2c179196_zcl-menu-item:hover .mc2c179196_zcl-menu-item-icn, .mc2c179196_zcl-menu-item.mc2c179196_active .mc2c179196_zcl-menu-item-icn{ color: var(--ZC-color-theme); }
.mc2c179196_zcl-menu-item.mc2c179196_zcl-neg-menu-item, .mc2c179196_zcl-neg-menu-item .mc2c179196_zcl-menu-item-icn, .mc2c179196_zcl-menu-item.mc2c179196_zcl-neg-menu-item:hover .mc2c179196_zcl-menu-item-icn, .mc2c179196_zcl-menu-item.mc2c179196_zcl-neg-menu-item.mc2c179196_active .mc2c179196_zcl-menu-item-icn {color: var(--ZC-color-red);}
.mc2c179196_zcl-menu-item.mc2c179196_zcl-neg-menu-item:hover, .mc2c179196_zcl-menu-item.mc2c179196_zcl-neg-menu-item.mc2c179196_active, .mc2c179196_zcl-menu-item.mc2c179196_zcl-neg-menu-item.mc2c179196_sel { background-color: #EF536433; }
.mc2c179196_zcl-menu-wrap[align="right"]:after { transform: rotate(135deg); left: -6px; top: 10px; }
.mc2c179196_changeprofpic { opacity: 0; }
.mc2c179196_profilepreview.mc2c179196_modalwindows{
    position: fixed;
    top: 100px;
    left: 300px;
    box-shadow: 0 0 20px var(--ZC-box-shadow-color);
    background-color: var(--ZC-default-bg-color);
    border-radius: 0; 
}
.mc2c179196_modalwindows > * {
    background-color: #fff;
    position: relative;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.mc2c179196_profilepreview > div { padding: 0 36px; transition: all .3s;}
/*Note to change*/
.mc2c179196_header {padding: 26px 0 4px; margin: 0; border:none; display: block; color:var(--ZC-color-main);}
.mc2c179196_zcalgncntr.mc2c179196_modalwindows {
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.mc2c179196_zcbg_mask {
    background-color: transparent;
}
.mc2c179196_modalwindows > div:not(.mc2c179196_zcbg_mask) {
    background-color: var(--ZC-default-bg-color);
}
.mc2c179196_zcl-hdrline { position: relative; padding-bottom: 10px; }
.mc2c179196_zcl-hdrline:after { content: ""; width: 20px; position: absolute; border-bottom: 2px solid var(--ZC-color-theme); left: 0; bottom: 0; }
.mc2c179196_previewpic-cont { height: 400px; width: 400px; border-color: #0000; }
.mc2c179196_previewpic-cont img { width: 100%; height: 100%; object-fit: cover; border-radius:4px;}
.mc2c179196_zcl-btn,.mc2c179196_zcl-btn-large{position: relative; height: 40px; min-width: 90px; padding: 0px 20px; border-radius: 20px; color: #fff; border: none; font-size: 15px; cursor: pointer; outline:none; display: inline-flex; align-items: center; justify-content: center; vertical-align: middle; flex-shrink: 0; }
.mc2c179196_zcl-btn--secondary{ background: var(--ZC-default-bg-color); border: 1px solid var(--ZC-btn-secondary-border); color: var(--ZC-color-secondary);}
.mc2c179196_zcl-btn--primary{ background: var(--ZC-color-theme); color: var(--ZC-btn-primary-color); font-weight: bold; border-width: 2px; }
[class*="zcl-"] .mc2c179196_reqprocess_anim:after, [class*="zcl-"].mc2c179196_reqprocess_anim:after { border: 3px solid var(--ZC-btn-secondary-border); border-right: 3px solid var(--ZC-color-theme) !important; }
[class*="--primary"] .mc2c179196_reqprocess_anim:after, [class*="--primary"].mc2c179196_reqprocess_anim:after { border-right: 3px solid #fff !important; }
[class*="-neg--secondary"] .mc2c179196_reqprocess_anim:after, [class*="-neg--secondary"].mc2c179196_reqprocess_anim:after { border-right-color: var(--ZC-btn-neg-secondary-border) !important; }
[class*="-neg--primary"] .mc2c179196_reqanim-status, [class*="zcl-btn"][class*="-primary"] .mc2c179196_reqanim-status { color: #fff; }
.mc2c179196_zcmodal-close, .mc2c179196_zcmodal-close#mc2c179196_winclose {position: absolute;width: 32px;height: 32px;background-color: var(--ZC-default-bg-color);font-size: 14px;border-radius: 100%;top: 12px;right: 16px;color: var(--ZC-color-icon);display: flex;align-items: center;padding: 0px;justify-content: center; box-shadow: none; }
.mc2c179196_zcmodal-close#mc2c179196_winclose:hover, .mc2c179196_zcmodal-close:hover { color: var(--ZC-color-hdr); cursor: pointer;}
.mc2c179196_reqprocess_anim:after { content: ''; height: 17px; width: 17px; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; border-radius: 50%; z-index: 1; border: 2px solid #fff; border-right: 2px solid transparent !important; animation: loader 1s linear infinite; }
.mc2c179196_reqprocess_anim{pointer-events:none; display: inline-block;}
[class*="zcl-"] .mc2c179196_reqprocess_anim:after, [class*="zcl-"].mc2c179196_reqprocess_anim:after { border: 3px solid var(--ZC-btn-secondary-border); border-right: 3px solid var(--ZC-color-theme) !important; }
[class*="--primary"] .mc2c179196_reqprocess_anim:after, [class*="--primary"].mc2c179196_reqprocess_anim:after { border-right: 3px solid #fff !important; }
[class*="-neg--secondary"] .mc2c179196_reqprocess_anim:after, [class*="-neg--secondary"].mc2c179196_reqprocess_anim:after { border-right-color: var(--ZC-btn-neg-secondary-border) !important; }
[class*="-neg--primary"] .mc2c179196_reqanim-status, [class*="zcl-btn"][class*="-primary"] .mc2c179196_reqanim-status { color: #fff; }
[class*="zcl-btn"][class*="--positive"] .mc2c179196_reqanim-status { color: var(--ZC-color-theme) !important;  }
[class*="-neg--secondary"] .mc2c179196_reqanim-status { color: var(--ZC-btn-neg-secondary-border) !important; }
[class*="-neutral--primary"] .mc2c179196_reqprocess_anim:after { border-right-color: var(--ZC-color-theme) !important; }
[class*="zcl-btn"][class*="-neutral--primary"] .mc2c179196_reqanim-status { color: var(--ZC-color-theme) !important; }
.mc2c179196_reqprocess_anim[class*="zcl-btn-"] { display: inline-flex; color: transparent; }
.mc2c179196_reqprocess_anim[class*="zcl-btn-"]>* {  opacity: 0; }
.mc2c179196_nite-mode .mc2c179196_dbtn .mc2c179196_reqprocess_anim:after, .mc2c179196_nite-mode .mc2c179196_buttn_pos .mc2c179196_reqprocess_anim:after { border-color:#4388bf; }
.mc2c179196_nite-mode .mc2c179196_dbtn .mc2c179196_reqprocess_anim:after, .mc2c179196_nite-mode .mc2c179196_buttn_pos .mc2c179196_reqprocess_anim:after { border-color: #fff; }
.zcoverlay div.mc2c179196_zcbg_mask:before {
    width: 5000em;
    content: "";
    height: 5000em;
    left: -2500em;
    top: -2500em;
    position: fixed;
}
.zcoverlay .mc2c179196_modalwindows {
    z-index: auto;
    position: fixed;
    box-shadow: 0 0 20px #333;
    background-color: #fff;
    border-radius: 0;
    overflow: inherit;
}
.mc2c179196_zcdalogbx{ width:480px; box-shadow:0 0 6px rgba(0, 0, 0, 0.1);border-radius: 5px !important;}
.mc2c179196_zcdalogbx.mc2c179196_alert_dialog {
    width: 650px;
}
.mc2c179196_alert_dialog .mc2c179196_header, .mc2c179196_modalwindows.mc2c179196_alert_dialog .mc2c179196_header {
    text-align: center;
    padding: 30px 45px 15px;
}
.mc2c179196_zcdalogbx .mc2c179196_header {
    border: none;
    padding: 10px 0;
    margin: 0;
}
.mc2c179196_modalwindows.mc2c179196_alert_dialog .mc2c179196_mcontent { background-color: var(--ZC-default-bg-color); }
.mc2c179196_modalwindows .mc2c179196_mcontent_ttl { color: var(--ZC-color-main); }
.mc2c179196_modalwindows.mc2c179196_zcdalogbx .mc2c179196_header { background-color: var(--ZC-color-hover1); }
.mc2c179196_modalwindows.mc2c179196_alert_dialog .mc2c179196_cclose { font-size: 16px; }
.mc2c179196_nite-mode .mc2c179196_modalwindows.mc2c179196_alert_dialog .mc2c179196_cclose:hover:before, .mc2c179196_nite-mode .mc2c179196_asign-admin-modal .mc2c179196_cclose:hover:before  { color: var(--ZC-icon-hover-color); }
.mc2c179196_nite-mode .mc2c179196_alert_dialog > *{background-color:#273848;box-shadow:0 4px 4px 0 rgba(0, 0, 0, 0.69);}
.mc2c179196_alert_dialog .mc2c179196_mcontent, .mc2c179196_modalwindows.mc2c179196_alert_dialog .mc2c179196_mcontent {
    background-color: #fafafa;
    padding: 25px 45px 30px;
}
.mc2c179196_nite-mode .mc2c179196_itgrtwin .mc2c179196_modalwindows:not(.mc2c179196_zcdlgedtrsv) .mc2c179196_mheader .mc2c179196_cclose, .mc2c179196_nite-mode .mc2c179196_redeem-bnr-close { background:#172533;color:#8899a6; }
.mc2c179196_nite-mode .mc2c179196_modalwindows.mc2c179196_alert_dialog .mc2c179196_cclose:hover:before, .mc2c179196_nite-mode .mc2c179196_asign-admin-modal .mc2c179196_cclose:hover:before  { color: var(--ZC-icon-hover-color); }
.mc2c179196_modalwindows.mc2c179196_cmsgdlg .mc2c179196_mheader, .mc2c179196_modalwindows.mc2c179196_btn-bldr .mc2c179196_mheader .mc2c179196_btn-bldr-lbl {color: var(--wms-color-main);}
.mc2c179196_modalwindows.mc2c179196_btn-bldr .mc2c179196_cclose { top: 13px; font-size: 12px; }
.mc2c179196_outercircle { height: 68px; width: 68px; margin: auto; background-color: var(--ZC-color-hover1);  border-radius: 100%; }
.mc2c179196_mheader_ttl {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: -0.3px;
    color: #ec3131;
}
.mc2c179196_mcontent_btn_con.mc2c179196_textR {
    padding: 26px 36px;
}
div.zcoverlay .mc2c179196_modalwindows {
    box-shadow: 0 0 20px var(--ZC-box-shadow-color3);
}
.mc2c179196_zcl-btn-neg--primary{ background: var(--ZC-color-red); color: #fff; font-weight: bold; border-width: 2px; }
.mc2c179196_zcl-btn--primary:focus,.mc2c179196_zcl-btn-neg--primary:focus { box-shadow: 0 0 0 2px var(--btn-primary-focus) inset; }
.mc2c179196_zcl-btn--primary:hover, .mc2c179196_zcl-btn-neg--primary:hover, .mc2c179196_zcl-split-btn .mc2c179196_split-icon.mc2c179196_active, .mc2c179196_zcl-btn--warning:hover, .mc2c179196_zcl-btn--warning.mc2c179196_active, .mc2c179196_zcl-btn--warning:focus { box-shadow: inset 0px 4px 50px var(--btn-primary-hover); }
.mc2c179196_mcontent_txt_con {margin-bottom: 30px;max-height: 200px;overflow: auto;text-align: center;color: var(--ZC-color-main)}
.mc2c179196_zcdlg_rht{ display:block;}
.mc2c179196_zcdalogbx.mc2c179196_alert_dialog.mc2c179196_modalwindows > * {
    border-radius: 15px !important;
}
.mc2c179196_zcl-btn-large {
    height: 52px;
    min-width: 124px;
    font-size: 16px;
    padding: 0px 36px;
    border-radius: 52px;
}
.mc2c179196_modalwindows.mc2c179196_alert_dialog .mc2c179196_mcontent {
    background-color: var(--ZC-default-bg-color);
}
.mc2c179196_zcl-btn--primary:hover, .mc2c179196_zcl-btn-neg--primary:hover, .mc2c179196_zcl-split-btn .mc2c179196_split-icon.mc2c179196_active, .mc2c179196_zcl-btn--warning:hover, .mc2c179196_zcl-btn--warning.mc2c179196_active, .mc2c179196_zcl-btn--warning:focus { box-shadow: inset 0px 4px 50px var(--btn-primary-hover); }
.mc2c179196_zcl-btn--secondary:hover { background-color: var(--ZC-color-hover1); box-shadow: none; }
.mc2c179196_zcl-btn-neg--secondary:hover { background: var(--btn-neg-secondary-bg-hover); border-color: var(--ZC-btn-neg-secondary-border-hover); box-shadow:none; }
/*source/style/modules/dialog.css*/
.mcf1ee8b17_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}
.mcf1ee8b17_container,
.mcf1ee8b17_wms_dialog_container {
    min-height: 500px;
    max-height: 600px;
    width: 550px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: rgb(62, 62, 62) 0 0 20px;
    right: 412px;
    bottom: 80px;
    display: flex;
    flex-direction: column;
}
.mcf1ee8b17_close {
    border-radius: 50%;
    background: #e0e0e0;
    height: 38px;
    width: 38px;
    font-size: 12px;
    color: grey;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    flex-shrink: 0;
    position: absolute;
    right: 22px;
    top: 15px;
    background-color: #f5f5f5;
    color: #d8d8d8;
}
.mcf1ee8b17_close:after {
    content: "esc";
    display: block;
    line-height: 8px;
}
.mcf1ee8b17_close:hover {
    color: #000;
}
.mcf1ee8b17_header,
.mcf1ee8b17_wms_dialog_header {
    display: flex;
    position: relative;
    padding: 15px;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.05);
    flex-direction: column;
    text-align: center;
    flex-shrink: 0;
}
.mcf1ee8b17_heading {
    padding-bottom: 5px;
    margin-bottom: 5px;
    position: relative;
    font-size: 15px;
    height: 1em;
    width: 100%;
}
.mcf1ee8b17_footer,
.mcf1ee8b17_wms_dialog_footer {
    margin: auto 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
}
.mcf1ee8b17_button:focus {
    box-shadow: 0 0 10px grey;
}
.mcf1ee8b17_wms_dialog_footer input {
    height: 30px;
    padding: 0 0 0px 10px;
    resize: none;
    border: solid 1px #e6e6e6;
    border-radius: 3px;
    width: 97%;
    margin-top: 10px;
}
.mcf1ee8b17_aligncenter,
.mcf1ee8b17_alignend,
.mcf1ee8b17_destructive_button,
.mcf1ee8b17_confirmation_button,
.mcf1ee8b17_confirmation_button_small {
    background-color: var(--wms-primary-color);
    border-radius: 20px;
    padding: 10px;
    width: 150px;
    color: #fff;
    font-weight: bold;
    align-self: center;
    cursor: pointer;
    line-height: 17px;
}
.mcf1ee8b17_destructive_button,
.mcf1ee8b17_confirmation_button,
.mcf1ee8b17_cancel_button {
    width: 136px;
    padding: 0px 15px;
    border-radius: 100px;
    height: 44px;
}
.mcf1ee8b17_confirmation_button_small {
    width: 90px;
    padding: 0px 20px;
    height: 34px;
}
.mcf1ee8b17_destructive_button {
    background-color: #ec4444;
}
.mcf1ee8b17_confirmation_button:hover,
.mcf1ee8b17_destructive_button:hover,
.mcf1ee8b17_confirmation_button_small:hover {
    box-shadow: var(--wms-hover-shadow);
}
.mcf1ee8b17_alignend {
    background-color: #4c596e;
    width: 100px;
    align-self: flex-end;
    box-shadow: 0px 0px 14px #aaa;
}
.mcf1ee8b17_cancel_button {
    border-radius: 100px;
    width: 134px;
    color: #4d4d4d;
    font-weight: bold;
    align-self: center;
    cursor: pointer;
    border: 1px solid #d6dadd;
    margin-right: 20px;
    height: 42px;
}
.mcf1ee8b17_cancel_button:hover {
    box-shadow: inset 0px 4px 50px rgba(0, 0, 0, 0.15);
}
.mcf1ee8b17_wms_dialogtext {
    width: 100%;
    vertical-align: middle;
}
.mcf1ee8b17_wms_dialogtext img {
    width: 38px;
    height: 38px;
    border-radius: 100%;
}
.mcf1ee8b17_wms_dialog_imginner {
    display: flex;
    align-items: center;
    justify-content: center;
}
.mcf1ee8b17_wms_dialog_img {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: solid 1px transparent;
    background: #fafafa;
}
.mcf1ee8b17_wms_dialog_txtcont {
    padding: 10px;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
}
.mcf1ee8b17_wms_dialog_img:before {
    content: "\e675";
    font-family: "ZoFo-ChatBar";
    font-size: 30px;
    opacity: 0.7;
}
.mcf1ee8b17_wms_dialog_container {
    max-width: 650px;
    min-height: 220px;
}
.mcf1ee8b17_wms_dialog_header {
    box-shadow: none;
    padding: 30px 45px 15px;
}
.mcf1ee8b17_wms_dialog_contentwrapper {
    background-color: #fafafa;
    padding: 10px 20px 0px 20px;
    font-size: 15px;
}
.mcf1ee8b17_wms_dialog_txttitle {
    font-weight: bold;
    margin-bottom: 15px;
}
.mcf1ee8b17_wms_dialog_content {
    position: relative;
    margin-bottom: 18px;
    line-height: 20px;
    padding-left: 20px;
    letter-spacing: -0.2px;
    color: #555555;
}
.mcf1ee8b17_wms_dialog_content:last-child {
    margin-bottom: 0;
}
.mcf1ee8b17_wms_dialog_content:before {
    content: "\e934";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 11px;
    transform: rotate(180deg);
    font-family: ZoFo-ChatBar;
}
.mcf1ee8b17_wms_dialog_footer {
    background-color: #fafafa;
    padding: 20px;
    margin: 0px;
    border-radius: 5px;
}
.mcf1ee8b17_buttonwrapper {
    display: flex;
    flex-direction: row-reverse;
}
.mcf1ee8b17_buttonwrapper > div:last-child {
    margin-right: 20px;
}
.mcf1ee8b17_showmandatoryerror {
    font-size: 12px;
    color: #f73930;
    text-align: right;
    padding-top: 3px;
}
.mcf1ee8b17_inputcontentwrapper {
    height: 90px;
}
.mcf1ee8b17_wms_dialog_textinput {
    position: relative;
    margin: 10px auto;
}
.mcf1ee8b17_wms_dialog_textinput textarea {
    width: 100%;
    height: 60px;
    border: 1px solid var(--wms-border-color);
    border-radius: 5px;
    outline: none;
    resize: none;
    font-family: inherit;
    padding: 10px;
    background-color: inherit;
    color: inherit;
}
.zmNightMode .mcf1ee8b17_wms_dialog_textinput textarea {
    border-color: #555;
}
.mcf1ee8b17_wms_dialog_textinput textarea:focus {
    border: 1px solid var(--wms-primary-color);
}
.mcf1ee8b17_wms_dialog_textinputlength {
    position: absolute;
    bottom: 10px;
    right: -10px;
    color: #888;
}
.zmNightMode .mcf1ee8b17_wms_dialog_container {
    box-shadow: -2px 0 4px 0 rgba(0, 0, 0, 0.5);
    border-color: #484848;
    background-color: #292929;
}
.zmNightMode .mcf1ee8b17_close {
    background-color: var(--wms-chat-bg-color);
    color: #afb3b7;
}
.zmNightMode .mcf1ee8b17_close:hover {
    color: #eee;
    background-color: #222;
}
.zmNightMode .mcf1ee8b17_wms_dialogtext * {
    color: #ee6064;
}
.zmNightMode .mcf1ee8b17_wms_dialog_contentwrapper {
    background: var(--wms-chat-bg-color);
    color: #fff;
}
.zmNightMode .mcf1ee8b17_wms_dialog_content {
    color: #b3b6ba;
}
.zmNightMode .mcf1ee8b17_wms_dialog_footer {
    background-color: var(--wms-chat-bg-color);
}
.zmNightMode .mcf1ee8b17_destructive_button {
    background-color: #ba4a4d;
}
.zmNightMode .mcf1ee8b17_container,.zmNightMode .mcf1ee8b17_cancel_button {
    background-color: var(--wms-chat-bg-color);
}
.zmNightMode .mcf1ee8b17_wms_dialog_container {
    background-color: var(--wms-secondary-bubble-color);
}
div[data-drag] div[data-header] {
    cursor: move;
}
.wms-rtl .mcf1ee8b17_container,.wms-rtl .mcf1ee8b17_wms_dialog_container {
    direction: rtl;
}
.wms-rtl .mcf1ee8b17_close {
    left: 22px;
}
/*source/style/modules/cliqweb/timezone.css*/
.mc9ea66651_container .drpdwn-input {
    display: none;
}
/*source/style/modules/cliqweb/autoresponse.css*/
.mcf076a798_composericons {
    position: absolute;
    right: 50px;
    bottom: 13px;
}
.auto-response-cont .zc-composer-emoji {
    bottom: 0;
    transform: none;
    top: auto;
}
.auto-response-cont .zc-composer-cont {
    height: 148px;
    max-height: initial;
}
.auto-response-cont
    .zc-composer-cont
    .zcaudiorecord:not(.zccomposer-nonempty) {
    padding-right: 40px;
}
.auto-response-cont .smileydivmn {
    top: 100%;
}
.auto-response-cont .zc-composer-abscont {
    top: 100%;
    height: fit-content;
    margin-top: 5px;
}
.autoResponseContainer {
    width: 550px !important;
}
.autoResponseContainer section {
    overflow: inherit !important;
}
.mcf076a798_autoResponseViewContainer {
    padding: 16px 0px;
}
.mcf076a798_scrollableTemplate{
    overflow-y: auto;
    max-height:60vh;
    margin-top:24px;
   
}
.mcf076a798_autoResponseActionBtns{
    position: absolute;
    right: 10px;
    bottom: 30px;
    padding-right: 24px;
}
.mcf076a798_customMsgTxt{
    border-bottom: 2px solid transparent;
}
.mcf076a798_customMsgTxt:hover{text-decoration: underline dashed;}
.mcf076a798_toggleslidertoend{
    margin-left: auto;
}
/*source/style/modules/cliqweb/dropdowndaterangepicker.css*/
.mc6ff187ef_datePickerContainer {
    display: block !important;
    position: relative !important;
    width: 586px;
}
.mc6ff187ef_drpdwn {
    width: 175px;
}
.zcl-dropdown-wrp .mc6ff187ef_openLeft {
    right: calc(100% + 5px);
    top: -240px;
}
.drpdwn-input .mc6ff187ef_label {
    flex-grow: initial;
    color:var(--color-main);
}
/*source/style/modules/cliqweb/daterangepicker.css*/
.mc609bafa8_calendarRangeLabel {
    border-left: 1px solid var(--color-divider);
    height: 100%;
    padding-left: 10px;
    margin-left: 10px;
    font-size: 13px;
}
.daterange-popup .zdatetimepicker--group {
    background-color: transparent;
    border-color: var(--color-divider);
    border-width: 0px 1px 0px 0px;
    border-radius: 0;
}
.daterange-popup .zdatetimepicker .zdatetimepicker__timebar,.daterange-popup .zdatetimepicker .zdatetimepicker__commandbar,
        .daterange-popup
            .zdatetimepicker--group
            .zdatetimepicker__list
            .zdatetimepicker
            .zdatetimepicker__calendar
    ,
        .daterange-popup
            .zdatetimepicker--group
            .zdatetimepicker__list
            .zdatetimepicker
            .zdatetimepicker__drilldownview
    ,
        .daterange-popup
            .zdatetimepicker--fromtocalendar
            .zdatetimepicker__starttime
     {
    border-color: var(--color-divider);
}

        .daterange-popup
            .zdatetimepicker
            .zinputfield.has-focus
            .zinputfield__spinbutton
    ,
        .daterange-popup
            .zdatetimepicker
            .zinputfield.has-kfocus
            .zinputfield__spinbutton
     {
    border-color: var(--color-theme);
}
.daterange-popup .zdatetimepicker .zbutton svg,.daterange-popup .zdatetimepicker .zdatetimepicker__navbutton.zbutton,
        .daterange-popup
            .zdatetimepicker
            .zdatetimepicker__timebar
            .zdatetimepicker__timeicon
    ,.daterange-popup .zdatetimepicker .zinputfield .zinputfield__svg,.daterange-popup .zdatetimepicker .zinputfield .zinputfield__icon svg {
    fill: var(--color-icon);
}

        .daterange-popup
            .zdatetimepicker
            .zdatetimepicker__navbutton.zbutton.is-disabled
     {
    fill: var(--color-lp2);
}

        .daterange-popup
            .zdatetimepicker
            .zdatetimepicker__adjacentmonthdate.is-disabled.zdatetimepicker--weekend
    ,
        .daterange-popup
            .zdatetimepicker
            .zdatetimepicker__adjacentmonthdate.is-disabled
    ,
        .daterange-popup
            .zdatetimepicker
            .zdatetimepicker__adjacentmonthdate.zdatetimepicker--weekend
    ,.daterange-popup .zdatetimepicker .zdatetimepicker__adjacentmonthdate {
    color: var(--color-lp1);
}

        .daterange-popup .zdatetimepicker .zdatetimepicker__monthyearnav:hover
     {
    color: var(--color-theme);
}
.daterange-popup .zdatetimepicker .zdatetimepicker__date,
        .daterange-popup
            .zdatetimepicker
            .zdatetimepicker__date.zdatetimepicker--weekend
    ,.daterange-popup .zdatetimepicker .zdatetimepicker__monthyeargrid,.daterange-popup .zdatetimepicker .zdatetimepicker__monthyearnav {
    color: var(--color-main);
}
.daterange-popup .zdatetimepicker .zdatetimepicker__day,.daterange-popup .zdatetimepicker .zdatetimepicker__weeknumbers th {
    color: var(--color-secondary);
}
.daterange-popup .zdatetimepicker .zdatetimepicker__monthyearnav {
    font-weight: 600;
}
.daterange-popup .zdatetimepicker .zbutton.is-disabled:hover,.daterange-popup .zdatetimepicker .zbutton.is-disabled.on-hover,.daterange-popup .zdatetimepicker .zbutton.is-disabled.has-focus,.daterange-popup .zdatetimepicker .zbutton.is-disabled:active,.daterange-popup .zdatetimepicker .zbutton.is-disabled.is-selected {
    background: rgba(var(--color-red-rgb), 0.1);
    border-color: rgba(var(--color-red-rgb), 0.4);
    color: var(--color-lp2);
}
.daterange-popup .zdatetimepicker .zbutton.has-focus {
    color: var(--color-main);
    background-color: var(--color-hover1);
    border-color: var(--color-theme);
    box-shadow: none;
}
.daterange-popup .zdatetimepicker .zbutton.has-focus:hover,.daterange-popup .zdatetimepicker .zbutton.has-focus.on-hover {
    background-color: var(--color-hover1);
    border-color: var(--color-theme);
    box-shadow: none;
    fill: var(--color-icon);
}

        .daterange-popup .zdatetimepicker .zdatetimepicker--dateinrange:before
     {
    background: rgba(var(--color-theme-rgb), 0.2);
}

        .daterange-popup
            .zdatetimepicker
            .zdatetimepicker__date.zdatetimepicker--today
     {
    color: var(--color-main);
    border-color: var(--color-theme);
}
.daterange-popup .zdatetimepicker .zdatetimepicker__date:hover,
        .daterange-popup
            .zdatetimepicker
            .zdatetimepicker__date:hover.zdatetimepicker--today
     {
    border-color: var(--color-theme);
    background-color: transparent;
    color: var(--color-main);
}

        .daterange-popup
            .zdatetimepicker
            .zdatetimepicker__adjacentmonthdate.zdatetimepicker--weekend
    ,
        .daterange-popup
            .zdatetimepicker
            .zdatetimepicker--dateinrange.zdatetimepicker--weekend
     {
    background: transparent;
    border-color: transparent;
}

        .daterange-popup
            .zdatetimepicker
            .zdatetimepicker--dateinrange.is-start:after
    ,
        .daterange-popup
            .zdatetimepicker
            .zdatetimepicker--dateinrange.is-end:after
     {
    background: var(--color-theme);
}
.daterange-popup .zdatetimepicker .zbutton--primary {
    background-color: var(--color-theme);
    border-color: var(--color-theme);
    box-shadow: none;
}
.daterange-popup .zdatetimepicker .zbutton--primary:hover {
    box-shadow: inset 0px 4px 50px var(--btn-primary-hover);
    background: var(--color-theme);
    border-color: var(--color-theme);
}

        .daterange-popup
            .zdatetimepicker
            .zbutton--normal.cancelButton-zdatetimerangepicker
    ,
        .daterange-popup
            .zdatetimepicker
            .zbutton--normal.clearButton-zdatetimerangepicker
     {
    background: var(--default-bg-color);
    border: 1px solid var(--btn-secondary-border);
    color: var(--color-secondary);
}

        .daterange-popup
            .zdatetimepicker
            .zbutton--normal.cancelButton-zdatetimerangepicker:hover
    ,
        .daterange-popup
            .zdatetimepicker
            .zbutton--normal.clearButton-zdatetimerangepicker:hover
     {
    background-color: var(--color-hover1);
    box-shadow: none;
}
.daterange-popup .zdatetimepicker .zinputfield {
    background-color: var(--default-bg-color);
    border-color: var(--color-divider);
}
.daterange-popup .zdatetimepicker .zinputfield.has-focus,.daterange-popup .zdatetimepicker .zinputfield.has-kfocus {
    border-color: var(--color-theme);
    background-color: var(--default-bg-color);
}

        .daterange-popup
            .zdatetimepicker
            .zdatetimepicker__timebar
            .zinputfield__spinbutton
     {
    background-color: var(--color-hover1);
    border-color: var(--color-divider);
}

        .daterange-popup .zdatetimepicker .zdatetimepicker__monthyeargrid:hover
     {
    background-color: var(--color-hover2);
    color: var(--color-main);
}
.daterange-popup .zdatetimepicker .zbutton:active:hover,.daterange-popup .zdatetimepicker .zbutton:active.on-hover,.daterange-popup .zdatetimepicker .zbutton:active.has-focus,.daterange-popup .zdatetimepicker .zbutton.is-selected:hover,.daterange-popup .zdatetimepicker .zbutton.is-selected.on-hover,.daterange-popup .zdatetimepicker .zbutton.is-selected.has-focus {
    background-color: var(--color-hover2);
    border-color: var(--color-theme);
    color: var(--color-main);
}
.daterange-popup .zdatetimepicker .is-disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}