#root{
  margin: auto;
  width: 80%;
}

.cursor-glow {
  position: fixed;
  width: 300px;
  height: 300px;
  background: radial-gradient(circle, rgba(84, 77, 177, 0.1), transparent 70%);
  pointer-events: none;
  transform: translate(-50%, -50%);
}
