#root{
  margin: auto;
  width: 98vw;
  position: relative;
}

body{

  background-color: #242424;
}

a{
  color: var(--text-color);
  text-decoration: none;
  cursor: none;
}

a:hover{
  color: var(--text-color);
}

.header, .right-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-header{
  width: 300px;
}

.left-header{
  font-size: 20px;
  color: var(--contrast-color);
  font-weight: 900;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.header{
  position: sticky;
  top: 1%;
  left: 0;
  width: 98%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  z-index: 4;
  padding:0px 20px;
}

.App{
  --dim-text-color: rgb(255, 255, 255, 0.7);
  --text-color: #E5E7EB;
  /* --contrast-color: #646cff;
  --high-contrast-color: #6a5acd; */
  --contrast-color: #10B981;
  /* --high-contrast-color: #A78BFA; */
  --high-contrast-color: #34D399;
  --bg-color: #242424;
  --secondary-bg-color: #2B2B2B;
  --dull-contrast-color: #5ca38d;
}


footer{
  margin: auto;
  width: 270px;
  text-align: center;
}

footer .text:last-child{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 210px;
  margin: auto;
}

footer .text:last-child:hover{
  color: var(--contrast-color);
}

.contact{
  font-weight: 700;
  color: var(--high-contrast-color);
  font-size: 20px;
}

.contents{
  width: 80%;
  margin: auto;
}